@font-face {
    font-family:"plain light";
    src: url(font\plain-light-webfont.ttf);
}

*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box;
    font-family: "Plain Light";
    color:#FEFEFE;
}
html,body{
    height: 100%;
    width:100%;
}
body{
    overflow-x:hidden ;
}
#parent{
    background-color:#151515;
    position: relative;
}
#cursor{
    color:#b8b4b4;
    height:2vw;
    width:2vw;
    border:1px solid #b8b4b4;
    border-radius: 50%;
    position: fixed;
    z-index: 998;
    mix-blend-mode: difference;
    transform:translate(-50%,-50%);
}
#loader{
    height:100%;
    width:100%;
    position:fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding:10vw 25vh;
    overflow: hidden;
}
.line{
    /* background-color: red; */
    height:fit-content;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    gap:1.2vw;

}
#line1-part1{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:0.4vw;
}
#line1-part1 h5{
    text-align:left;
    width: 5vw;
}
#line1-part1 h5,#line1-part1 h6{
 font-size:3vw;
 font-weight:100;  
 font-family: "Silk Serif"; 

}

.line h1{

    text-transform: uppercase;
    font-size:6vw;
    font-weight:900;
}
#now{
    text-transform: uppercase;
    font-size:4.6vw;
    font-weight:900;
    animation-name: anime;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family:"plain light";
        opacity:1;
        font-weight:500;
        color:#FEFEFE;
    }
    48%{
        font-family:"plain light";
        opacity:0;
        font-weight:500;
        color:#FEFEFE;
    }
    50%{
        font-family:"silk serif";
        opacity:1;
        font-weight:500;
        color:transparent;
        -webkit-text-stroke: 1px #FEFEFE;
    }
    100%{
        font-family:"silk serif";
        opacity:0;
        font-weight:500;
        color:transparent;
        -webkit-text-stroke: 1px #FEFEFE;
    }
}

#page1{
    height:100vh;
    width:100%;
    background-color: #151515;
}
#navbar{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size:large;
    padding:2.6vw 4vw;
    color:#FEFEFE;

}
#leftnav{
    display:flex;
    gap:5em;
}
#rightnav{
    display:flex;
    gap:2.4rem;
}
#rightnav h5{
    font-weight: 100;
    font-size:0.9vw;
}
#navKeBichWala h5{
    color:#FEFEFE;
    font-weight: 200;
    line-height: 1;
}
#navKeBichWala{
    position:absolute;
    top:5vh;
    left:27vw;
}
.tagline{
    text-transform: uppercase;
    font-size:3.5vw;
    letter-spacing: 0.4vw;
    color:#FEFEFE;
    /* background-color: red; */
    width: 70vw;
    margin-left: 26vw;
    line-height: 1;
    overflow: hidden;
}
#tagline-3{
    display: flex;
    align-items: center;
}
.tagline:nth-child(2){
margin-top:15vh;
}
.tagline h1{
font-weight: 600;
}

#webhover{
border-bottom: 10px solid #FEFEFE;
/* background-color: red; */
}

#webhover:hover{
transition:all ease 0.3s;
-webkit-text-stroke: 0.5px #FEFEFE;
color:transparent;
font-weight:500;
border-bottom: 10px solid #fefefe00;
}

#page2{
    height:100vh;
    width:100%;
    background-color: #151515;
}
#video{
    width:75vw;
    height:70vh;
    position:relative;
    left:25%;
    background-image:url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#playCrsr{
    background-color: #FFA63D;
    height:9vw;
    width:9vw;
    border-radius: 500%;
    position: absolute;
    top:-10%;
    left:70%;
    z-index: 900;
    display:flex;
    align-items:center ;
    justify-content: center;

}
#playCrsr i{
    font-size: 2vw;
}
#video img{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    object-fit: cover;
}
#video video{
    width:100%;
    height:100%;
    object-fit: cover;
}
#page3{
    min-height:100vh;
    width:100%;
    background-color: #151515;
}
#page4{
    min-height:100vh;
    width:100%;
    background-color: #151515;
}
#page4 hr{
    margin-bottom:3vh;
}
#page-4content{
margin-left:28vw;
margin-right: 4vw;
}
#page-4content1 h1{

    font-size:7vw;
    width:70vw;
    font-weight:600;
    text-transform:uppercase;
    padding-bottom:8vh;
}
#page-4content1 p{
    font-size:2vw;
    width:37vw;
}
#page-4content2{
    margin-top:6vh;
    display:flex;
}
#page-4content2 img{

    height:85vh;
    width:34vw;
    object-fit:cover;
}
#page-4content2 p{
    font-size:1.7vh;
    width:40%;
    line-height: 2.6vh;
    margin-left:2vw;
}
#page4-content3{
    background-color: #3F7DF4;
    /* height:70vh; */
    width:33vw;
    transform: translate(72%,-30%);
    padding:6.5vh 3vw;
    align-items: center;
}
.bluebox{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    padding:7% 0;
    border-bottom: 1px solid #fefefed9;

}
.bluebox h1{
 font-weight: 500;
 font-size:3vh;
}
.bluebox p{
    width:40%;
}

#page5{
    min-height:100vh;
    width:100%;
    background-color: #151515;
    position: relative;
    padding-top:8vh;
}
.elem{
 white-space: nowrap;

}

.elem h1{
    margin-bottom:1vw;
    text-transform: uppercase;
    font-size: 7vw;
    -webkit-text-stroke: 1px #FEFEFE;
    color:transparent;
    font-weight:200;
    display: inline-block;
    margin-right:16px;
    animation-name: textAnime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* background-color: #3F7DF4; */

}
.elem span ,.elem2 span{
    font-family:"sile serif";
    font-style:italic;
    -webkit-text-stroke: 1px #FEFEFE;
    color:transparent;

}
@keyframes textAnime {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100% - 20px));
        /* subtracting  16px that is margin and 4 px margin which is default bw two div  - so that there is no jhatkaa in continuity*/
    }
}
.elem2 h1{
    margin-bottom:1vw;
    text-transform: uppercase;
    font-size: 7vw;
    -webkit-text-stroke: 1px #FEFEFE;
    color:transparent;
    font-weight:200;
    display: inline-block;
    margin-right:7px;
    transform: translateX(calc(-100%-20px));
    animation-name: textAnime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* background-color: #3F7DF4; */
    animation-direction: reverse;
    /* same animation but in reverse */
}
.elem2{
    white-space: nowrap;
}
#page6{
    /* min-height:100vh; */
    width:100%;
}
#content-parent{
    padding-top:10vh;
    margin-left: 28%;
}
#page6 #top{
font-size: 15vh;
text-transform: uppercase;
/* margin-left: 28%; */
margin-right: 5%;
padding-bottom:8vh;
}
#page6 hr{
    /* margin-left: 28%; */
    margin-right: 5%;
}
#page6 #content{
    /* margin-left: 28%; */
    display: flex;
    align-items:start;
    justify-content: space-between;
    /* width:60%; */
    padding:10vh 0;
}
#content1,#content2,#content3{
    width:50%;
    line-height: 1.6vw;
}
#content p{
    margin-bottom:1.6vw;
}
#content h2{
    font-weight: 400;
    font-size: 1.5vw;
    width:50%;
}
#content3 a{
    color:#FEFEFE;
    font-weight: 400;
    font-size: 1.2vw;
}
#footercopy{
    padding: 5vh 0;
}